/* -------------------- General styles -----------------------*/
@font-face {
    font-family: 'Room';
    src: url('../fonts/Room.otf');
}

@font-face {
    font-family: 'RoomMedium';
    src: url('../fonts/Room Medium.otf');
}

@font-face {
    font-family: 'RoomBlack';
    src: url('../fonts/Room Black.otf');
}

@font-face {
    font-family: 'RoomLight';
    src: url('../fonts/Room Light.otf');
}

@media screen and (max-width: 1024px) { 
    .header, .about-us, .results, .rules, .partners , .questions, .working-steps, .useful, .offer, .footer {
        min-width: 1345px;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Room';
    font-size: 22px;
}

*::before, *::after {
    box-sizing: border-box;
}

::-webkit-input-placeholder {color:#000;}
::-moz-placeholder          {color:#000;}/* Firefox 19+ */
:-moz-placeholder           {color:#000;}/* Firefox 18- */
:-ms-input-placeholder      {color:#000;}

body {
    background: #ccc;
}

h1 {
    font-family: 'Room';
}

h2 {
    text-align: center;
    font-family: 'RoomBlack';
    font-size: 33px;
    color: #01344c;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

p {}


a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {}

.container {
    width: 1100px;
    margin: 0 auto;
}

.help-block {
    color: red;
    font-size: 12px;
    margin-top: -20px;
    margin-bottom: 5px;
}



/*-------------------------- Header Section -------------------------------*/

.header {
    padding-top: 45px;
    background: url('../img/header.jpg');
    background-size: cover;
    height: 804px;
}

.top-header {
    overflow: hidden;
}

.logo {
    width: 160px;
    float: left;
}

.menu-wrap {
    width: 780px;
    float: right;
    padding-top: 20px;
}

.menu li {
    float: left;
    margin-left: 22px;
}

.menu li a {
    font-size: 13.5px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.menu li a:hover {
    color: #f0c500;
}

.inner-header {
    text-align: center;
    padding-top: 135px;
}

.inner-header h3 {
    font-family: 'RoomBlack';
    text-transform: uppercase;
    color: #fff;
}

.inner-header h1 {
    color: #f0c500;
    margin-top: 73px;
    font-size: 64px;
    font-family: 'RoomMedium';
    line-height: 62px;
    font-weight: normal;
}

a.top-btn {
    border: 1px solid #f0c500;
    padding: 15px;
    display: block;
    width: 402px;
    margin: 85px auto;
    font-size: 14.5px;
    font-family: 'RoomMedium';
    padding-top: 19px;
    color: #fff;
    border-radius: 4px;
}
.top-btn:hover {
    color: #f0c500;
}
/* ---------------------------- Icons Block --------------------------------*/

.about-us {
    padding-top: 50px;
}

.icon-block {
    width: 366px;
    float: left;
}

.icon {
    background-image: url(../img/icons.jpg);
    width: 102px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.icon.ic2 {
    background-position: -389px 0;
}

.icon.ic3 {
    background-position: 101px 0;
}

.icon-block p {
    text-align: center;
    font-size: 18.5px;
    font-family: 'RoomMedium';
}

.about-us {
    padding-top: 50px;
    overflow: hidden;
    background-color: #fff;
    padding-bottom: 80px;
}

/* ------------------------- Result Block ----------------------------------*/

.results {
    padding-top: 50px;
    background-image: url(../img/resbg.jpg);
    background-size: cover;
    
}

.results h2 {
    margin-bottom: 65px;
}

.result-content {
    width: 366px;
    float: left;
    color: #01344c;
    padding-top: 5px;
}

.result-content.sign {
    padding-left: 134px;
    background-repeat: no-repeat;
    background-image: url(../img/rsym.png);
    height: 120px;
}

.result-content.brif {
    padding-left: 90px;
}

.result-content.final {
    padding-left: 50px;
}

.result-content.final p{
    line-height: 20px;
}

.results-wrap {
    overflow: hidden;
}

.info-wrap {
    overflow: hidden;
    padding-top: 61px;
}

.info-wrap.case3 {
    padding-top: 20px;
}

.result-content h4 {
    font-family: 'RoomBlack';
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.result-content h3 {
    text-transform: uppercase;
    margin-bottom: 17px;
}

.result-content.sign p {
    font-size: 16px;
    color: #9f9f9f;
    font-family: RoomMedium;
}

.result-content.sign p a, .result-content.sign p span {
    color: #8d8d8d;
    font-size: 16px;
    font-family: RoomMedium;
}

.result-content p {
    font-size: 16px;
}

.result-info h3 {
    color: #fff;
    background-color: #f0c500;
    font-family: 'Room';
    font-size: 21px;
    font-weight: normal;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 5px;
    margin-bottom: 28px;
}

.result-info {
    width: 350px;
    //border: 1px solid;
    float: left;
    margin-left: 135px;
}

.result-info .orders {
    //background-image: url(../img/circles.png);
    height: 185px;
    position: relative;
    width: 350px;
}

.result-info .prices {
    //background-image: url(../img/circles.png);
    height: 185px;
    position: relative;
    width: 350px;
}

.orders .animated-circle {
    position: absolute;
    right: -11px;
    top: 0px;
    background-image: url(../img/newcircles.png);
    width: 371px;
    height: 175px;
    background-repeat: no-repeat;
}
.prices .animated-figures {
    background: url(../img/plain.png) no-repeat;
}

.prices .animated-figures {
    background: url(../img/plain.png) no-repeat;
    width: 364px;
    height: 178px;
    z-index: 480;
}

.animated-figures .filled-figure {
    background-image: url(../img/filled.png);
    width: 175px;
    //height: 181px;
    position: absolute;
    z-index: 500; 
    background-position: 179px 0;
    right: -15px;
}

.animated-circle canvas {
    right: 15px;
    position: absolute;
    top: 9px;
}

.orders .old-orders, .prices .old-price {
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    left: 29px;
    color: #01344c;
    font-size: 41px;
    padding-top: 10px;
    bottom: 58px;
    font-weight: bold;
}

.orders .new-orders, .prices .new-price {
    width: 77px;
    height: 50px;
    font-size: 51px;
    right: 42px;
    text-align: center;
    bottom: 75px;
    position: absolute;
    color: #01344c;
    text-align: center;
    font-weight: bold;
}

.result-info .prices .new-price {    
    z-index: 600;
    width: 110px;
    right: 17px;
}



.result-info .prices .old-price {
    left: 10px;
    bottom: 50px;
    width: 100px;
    text-align: center;
}

.result-info .prices {    
    background-position: 355px;
}

.result-info img {
    margin-bottom: 15px;
}

.result-info div {
    width: 50%;
    float: left;
    font-size: 15px;
    font-family: 'RoomLight';
}

.was {
    padding-left: 35px;
}

.become {
    padding-left: 70px;
}

.left-arrow, .right-arrow {
    position: absolute;
    width: 37px;
    height: 59px; 
    top: 265px;
    cursor: pointer;
}

.left-arrow {
    background: url(../img/larrow.png);
   
    left: -85px;
}

.right-arrow {
    background: url(../img/rarrow.png);
    right: -85px;
}

#result .container {
    position: relative;
    height: 652px;
}
.slide {
    display: none;
    overflow: hidden;
    height: 650px;
}
.slide.active {
    //display: block;
}

/* ----------------------------- Rules Section ---------------------------*/
.rules {
    background-image: url('../img/graphic.jpg');
    height: 690px;
    padding-top: 45px;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
}

.rules .container { 
    position: relative;
    height: 644px;
}

.point {
    width: 25px;
    height: 25px;    
    position: absolute; 
}

.round-point {
    width: 25px;
    height: 25px;
    position: absolute;
    background-image: url(../img/sdot.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

.point h3:hover + .round-point {
    width: 25px;
    height: 25px;
    position: absolute;
    background-position: 2px 2px;
    background-image: url(../img/cdot.png);
}

.rules .point h3 {
    color: #01344c;
    font-size: 17px;
    position: absolute;
    width: 200px;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;
}

.pos1 h3 {
    left: 10px;
    top: 8px;
}

.pos2 h3 {
    top: -65px;
    left: 13px;
}

.pos3 h3 {
    left: 10px;
    top: 2px;
}

.pos4 h3 {
    left: 13px;
    top: 2px;
}

.pos5 h3 {
    top: -63px;
    left: 12px;
}

.pos6 h3 {
    top: 5px;
    left: 13px;
}

.pos7 h3 {
    left: 41px;
    top: -14px;
}

.pos8 h3 {
    top: -43px;
    left: 8px;
}


.pos9 h3 {
    left: 15px;
    top: 3px;
}

.pos10 h3 {
    left: -81px;
    top: -41px;
}

.pos11 h3 {
    left: 10px;
    top: 5px;
}

.hidden {
    color: #fff;    
    background-color: #0088f0;   
    display: block;
    width: 423px;
    opacity: 0;
    padding: 9px;
    position: absolute;  
    top: 50px;
    left: 10px;
    font-size: 13px;
    font-family: RoomLight;   
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
}

.point h3:hover ~ .hidden {
    display: block;
    opacity: 1;
}

.pos1 .hidden {
    left: 205px;
    top: 15px;
}

.pos2 .hidden {
    left: -102px;
    top: -140px;
}

.pos3 .hidden {
    left: 116px;
    top: 35px;
}

.pos4 .hidden {
    left: 140px;
    top: 15px;    
}

.pos5 .hidden {  
    left: -165px;
    top: -138px;
}

.pos6 .hidden {
    width: 356px;
}

.pos7 .hidden {
    left: 42px;
    top: 30px;
    width: 350px;
}

.pos8 .hidden {
    left: -306px;
    top: -124px;    
}

.pos9 .hidden {
    left: -163px;
    top: 70px;
    width: 350px;
}

.pos10 .hidden {
    left: -515px;
    top: -50px;    
}

.pos11 .hidden {    
    left: 180px;
    top: 25px;   
}

.point h3:hover {
    color: #0088f0;   
}

.point.pos3 {
    left: 208px;
    bottom: 131px;
}

.point.pos1 {
    bottom: 77px;
    left: -2px;
}

.point.pos2 {
    bottom: 189px;
    left: 101px;
}

.point.pos3 {
    left: 206px;
    bottom: 127px;
}

.point.pos4 {
    left: 321px;
    bottom: 161px;
}

.point.pos5 {
    left: 518px;
    bottom: 320px;
}

.point.pos6 {
    left: 620px;
    bottom: 299px;
}

.point.pos7 {
    left: 723px;
    bottom: 320px;
}

.point.pos8 {
    left: 829px;
    bottom: 391px;
}

.point.pos9 {
    left: 930px;
    bottom: 362px;
}

.point.pos10 {
    left: 1035px;
    bottom: 470px;
}

.point.pos11 {
    left: 418px;
    bottom: 240px;
}

.rules h3 {
    color: #a6a5a5;
    text-align: center;
    margin-top: 19px;
    letter-spacing: 0.8px;
    font-size: 26.5px;
    font-weight: normal;
}

.left-line {
    position: absolute;
    border-top: 5px solid rgb(0, 136, 240);
    background-color: rgb(222, 240, 253);
    height: 94.5px;
    width: 100%;
    left: 0px;
    bottom: 0px;
}

.curve {
    background: url(file:///C:/Users/vertix/Desktop/Projects/WEBSTER/img/rules.jpg) no-repeat;
    width: 100%;
    height: 540px;
    margin-top: 21px;
}

/* ---------------------------- Partners Section -----------------------------*/

.partners {
    padding-top: 50px;
    background: #fff;
}
    
.partners h2 {
    margin-bottom: 85px;
}

.switcher {
    border: 1px solid #01344c;
    border-radius: 3px;
    width: 200px;
    text-align: center;
    font-size: 18.5px;
    padding-top: 6px;
    padding-bottom: 8px;
    margin-bottom: 25px;
    text-transform: uppercase;
    cursor: pointer;
}

.brands {
    display: none;
}

.brands h4 {
    text-align: center;
}


.brands.active {
    display: block;
}

.switcher.active, .switcher:hover {
    background-color: #01344c;
    color: #fff;
}

.switchers-wrap {
    overflow: hidden;
}

.column {
    float: left;
    width: 275px;
}
.column.one {
    padding-left: 75px;
}

.column.two {
    padding-left: 51px;
}

.column.three {
    padding-left: 30px;
}

.column.four {
    padding-left: 10px;
}

.brands-wrap {
    padding-top: 20px;
    min-height: 350px;
    overflow: hidden;
}

.brands-wrap img {
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    max-width: 369px;
}

.brands-block {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 35px;
}

.tab1 .brands-block {
    width: 775px;
    margin: 0 auto;
}

.tab5 .brands-block {
    margin-bottom: 20px;
}

.tab5 .brands-block.br1 {
    width: 1030px;
    margin: 0 auto;
}

.tab5 .br2, .tab5 .br3 {
    width: 775px;
}

.tab5 .br2 {
    margin-bottom: 0px;
}

.tab2 .brands-block.br1 {
    width: 775px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.tab2 .br2 {
    width: 1030px;
}

.tab8 .brands-block.br1 {
    width: 520px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.tab4 .brands-block.br1 {
    width: 520px;
}

.tab7 .brands-block {
    width: 775px;
    margin: 0 auto;
}

.tab6 .brands-block.br1 {
    width: 520px;
}
.tab9 .brands-block.br1 {
    width: 775px;
}
.tab9 .brands-block.br2 {
    width: 520px;
}

.tab3 img {
    float: none !important;
    margin: 0 auto;
    display: block;
}

.tab10 .brands-block {
    width: 520px;
}

.tab11 .brands-block {
    width: 520px;
}

/* ---------------------- Question section --------------------------------*/

.questions {
    background-image: url(../img/questions.jpg);
    height: 697px;   
    background-size: cover;
}

.questions h2 {
    color: #e5bb04;    
}

.questions .container {
    background-image: url(../img/qsymbols.png);
    height: 651px;
    padding-top: 46px;
    position: relative;
}

.question {
    position: absolute;   
    color: #fff;
    font-size: 14px;
    line-height: 16px;    
    text-transform: uppercase;
    cursor: pointer;
}

.question.qst1 {   
    top: 157px;    
    left: 491px; 
}

.question.qst2 {
    top: 285px;
    left: 215px;
    font-size: 15.5px;
    line-height: 18px;
}

.question.qst3 {
    left: 730px;
    top: 222px;
}

.question.qst4 {
    left: 787px;
    top: 355px;
}

.question.qst5 {
    top: 416px;
    left: 420px;
    line-height: 20px;
    font-size: 18px;
}

.qst1 .inner-window {
    width: 469px;   
    top: -30px;
    left: 115px;
    opacity: 0;
}

.qst1:hover .inner-window, .qst1 .inner-window.active  {
    display: block;
    width: 469px;   
    top: -30px;
    left: 115px;
    opacity: 1;
}

.qst2 .inner-window {    
    left: -175px;
    top: -193px;
    width: 400px;
    opacity: 0;
}

.qst2:hover .inner-window, .qst2 .inner-window.active  {
    display: block;
    opacity: 1;
}



.qst3 .inner-window {
    opacity: 0;
    width: 470px;
    right: -10px;
    top: 42px;
}

.qst3:hover .inner-window, .qst3 .inner-window.active {
    display: block;
    width: 470px;
    right: -10px;
    top: 42px;
    opacity: 1;
}

.qst4 .inner-window {
    display: none;    
    opacity: 0;
    top: 40px;
    left: -40px;
    width: 310px;
}

.qst4:hover .inner-window, .qst4 .inner-window.active {
    display: block;    
    opacity: 1;
}

.qst5 .inner-window {
    display: block;    
    opacity: 0;
    top: 65px;
    width: 370px;
}

.qst5:hover .inner-window, .qst5 .inner-window.active {
    display: block;    
    opacity: 1;
    top: 65px;
}

.inner-window {
    display: block;
    //width: 355px;
    background-color: #eeeded;
    color: #000;
    font-size: 11.5px;
    padding: 10px;
    font-family: RoomLight;
    line-height: 13px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 15px;
}


.chat {
    background-image: url(../img/chat.png);
    width: 20px;
    height: 8px;
    position: absolute;
}

.qst1 .chat {   
    transform: rotate(284deg);
    top: 36px;
    left: -11px;
}

.qst2 .chat {   
    transform: rotate(284deg);
    top: 36px;
    left: -11px;
}

.qst3 .chat {   
    transform: rotate(284deg);
    top: 36px;
    left: -11px;
}

.qst4 .chat {   
    transform: rotate(284deg);
    top: 36px;
    left: -11px;
}

.qst5 .chat {   
    transform: rotate(284deg);
    top: 36px;
    left: -11px;
}

/* ----------------------- Step Section ----------------------------------*/

.working-steps {
    padding-top: 46px;
    background-color: rgb(255, 255, 255);
    height: 695px;
}

.working-steps h2 {
    margin-bottom: 70px;
}

.step {
    float: left;
    width: 275px;
}

.step-img {
    background: url(../img/steps.jpg);
    height: 86px;
    margin-bottom: 40px;
}

.step-img.step1 {
    background-position: -5px 0;
}

.step-img.step2 {
    background-position: -307px 0;
}

.step-img.step3 {
    background-position: -607px 0;
}

.step-img.step4 {
    background-position: -904px 0;
}

.step h3 {
    font-family: RoomBlack;
    text-transform: uppercase;
    font-size: 19px;
    margin-bottom: 24px;
    color: #01344c;
}

.step p {
    color: #727272;
    font-size: 15.5px;
    font-family: RoomLight;
}

.step.step2 {
    padding-left: 25px;
}

.step.step3 {
    padding-left: 45px;
}

.step.step4 {
    padding-left: 70px;
}
.steps-wrap {
    overflow: hidden;
}

a.blue-btn {
    background: #0088f0;
    color: #fff;
    display: block;
    width: 400px;
    font-family: RoomMedium;
    margin: 0 auto;
    margin-top: 85px;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 17px;
    padding-top: 20px;
    font-size: 14.5px;
    text-align: center;
    text-transform: uppercase;
}

/* ---------------------- Useful Section ------------------------------*/

.useful {
    padding-top: 55px;
    height: 700px;
    background: url(../img/resbg.jpg);    
}

.useful h2 {
    margin-bottom: 93px;
}

.useful ol {
    list-style-position: inside;
}


.service-block {
    width: 500px;
    float: left;
    background: url(../img/marker.png) no-repeat;
    padding-left: 85px;
    margin-right: 25px;
    margin-left: 20px;
    height: 242px;
}

.service-block h3 {
    color: #01344c;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 22px;
}

.service-block li, .service-block p {
    color: #717171;
    font-size: 15px;
    margin-bottom: 18px;
    font-family: RoomLight;
}

/* --------------------------- Offer Section ------------------------------*/

.offer {
    padding-top: 59px;
    min-height: 697px;
    background: url(../img/formbg.jpg);
    background-size: cover;
}

.offer h2 {
    color: #efc300;
    margin-bottom: 55px;
}

.form-wrap {
    width: 665px;
    background-color: #000;
    color: #fff;
    padding-top: 30px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    overflow:hidden; 
    height: 416px;
}

.form-wrap.thanks {
    display: none;
    color: #000;
    font-family: "RoomMedium";
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: 400;
    background-color: #fff;
}

.form-wrap.thanks h3 {
    font-size: 18px;
}

.form-wrap.thanks img {
    margin-top: 100px;
    margin-bottom: 50px;
}

.left-col, .right-col {
    width: 317px;
    float: left;
}

.left-col h3 {
    margin-bottom: 45px;
}

.left-col ol {
    list-style-position: inside;
}

.left-col li {
    font-size: 15px;
    margin-bottom: 17px;
    line-height: 17px;
    letter-spacing: 0.5px;
}

.right-col {
    padding-left: 13px;
    padding-top: 12px;
}

.form-wrap input {
    width: 100%;
    padding-top: 12px;
    padding-left: 11px;
    margin-bottom: 24px;
    padding-bottom: 16px;
    font-family: RoomLight;
    font-size: 15px;
}

input[type="submit"] {
    color: #010101;
    background-color: #efc300;
    border: none;
    margin-top: 15px;
    padding-left: 0;
    font-family: RoomMedium;
    padding-bottom: 9px;
    text-align: center;
    width: 184px;
    cursor: pointer;
}

/* -------------------- Footer ---------------------*/

.footer {
    background-color: #000;
    padding-top: 25px;
    color: #fff;
    height: 120px;
}

.contacts li {
    font-size: 15.5px;
    text-align: right;
}

.contacts a {
    color: #fff;
    font-size: 15.5px;
    text-align: right;
}

.company-data li {
    font-size: 15.5px;
}

.company-data {
    float: left;    
    padding-top: 20px;
    margin-left: 205px;
}

/* ---------------------- Popup -------------------- */


.popup{
  z-index:99999;
  display: none;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  text-align: center;
  
}

.popup:after {
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
  content: '';
}

.popup .block{
  z-index:999999;
  color:#000;
  display: inline-block;
  position: relative;
  background-color: #fff;
  vertical-align: middle;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
  padding: 30px 60px;
  background-color: #ffde00;
  border-radius: 10px;
  font-size: 14px !important;
}

.closer{
  background-color:rgba(0,0,0,0.7);
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}

.politics-popup {
  width: 900px;
  padding: 30px;
  padding-top: 20px;
  background-color: white !important;
}