<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Webster</title>
   
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/jquery.maskedinput.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/circle-progress.js"></script>
    <link href="./css/style.css" rel="stylesheet">    
    
</head>

<body>   
    <div class="header">
        <div class="container">
            <div class="top-header">
                <div class="logo">
                    <img src="img/logo.png">
                </div>
                <div class="menu-wrap">
                    <ul class="menu">
                        <li><a href="#result" onclick="allEventsStart()">РЕЗУЛЬТАТЫ РАБОТЫ</a></li>
                        <li><a href="#rules">Полезные материалы</a></li>
                        <li><a href="#clients">Кейсы</a></li>
                        <li><a href="#questions">ВОПРОСЫ</a></li>
                        <li><a href="#process">Как это работает</a></li>
                        <li><a href="#useful">Что мы умеем</a></li>
                    </ul>
                </div>
            </div>
            <div class="inner-header">
                <h3>СОЗДАНИЕ И ВЕДЕНИЕ РЕКЛАМНЫХ КАМПАНИЙ В ИНТЕРНЕТЕ</h3>
                <h1>увеличим поток заявок<br/>
                    на 247% за 8 дней</h1>
                <a href="#offer" class="top-btn" ng-click="yaCounter31180491.reachGoal('main-button');">ПОЛУЧИТЬ КОММЕРЧЕСКОЕ ПРЕДЛОЖЕНИЕ</a>
            </div>
        </div>
    </div>
    <div class="about-us">
        <div class="container">
            <div class="icon-block">
                <div class="icon ic1"></div>
                <p>Специализируемся на рекламе</p>
                <p>компаний из ниш услуг и сервиса</p>
            </div>
            <div class="icon-block">
                <div class="icon ic2"></div>
                <p>Опыт работы с бюджетами от </p>
                <p>10.000 до 200.000 руб./мес.</p>
            </div>
            <div class="icon-block">
                <div class="icon ic3"></div>
                <p>Больше 70 успешно настроенных </p>
                <p>рекламных кампаний за 2 года</p>
            </div>
        </div>
    </div>
    <div id="result" class="results">
        <div class="container">            
            <h2>Результаты 2015 года</h2>
            <div class="slide active" style="display:block;">
                <div class="results-wrap">
                    <div class="result-content sign">
                        <h3>Business relations</h3>
                        <p>тренинги личностного роста</p>
                        <p><a href="sales.br-ekb.ru" target="_blank">sales.br-ekb.ru</a></p>
                    </div>
                    <div class="result-content brif">
                        <h4>Длительность проекта:</h4>
                        <p>1 месяц</p>
                        <br/>
                        <h4>Задача:</h4>
                        <p>Привести на тренинг личностного роста до 100 человек.</p>
                    </div>
                    <div class="result-content final">
                        <h4>Решение:</h4>
                        <p> •   Создали посадочную страницу<br>
    •   Настроили систему аналитики<br>
    •   Запустили контекстную рекламу<br>
    •   Запустили рекламу на VK.COM И FB.COM<br>
    •   Настроили ретаргетинг
</p>
                    </div>
                </div>
                <div class="info-wrap">
                    <div class="result-info">
                        <h3>заявок в месяц</h3>
                        <div class="orders">                            
                            <div class="old-orders case1">0</div>
                            <div class="new-orders case1">0</div>                        
                            <div class="animated-circle">                              
                            </div>
                        </div>
                        <div class="was">БЫЛО</div>
                        <div class="become">СТАЛО</div>
                    </div>
                    <div class="result-info">
                        <h3>цена привлеченного клиента</h3>
                        <div class="prices">
                            <div class="old-price case1">0</div>
                            
                            <div class="animated-figures">
                                <div class="new-price case1">3270</div>
                                <div class="filled-figure"></div>
                            </div>
                        </div>  
                        <div class="was">БЫЛО</div>
                        <div class="become">СТАЛО</div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="results-wrap">
                    <div class="result-content sign" style="background-image: url(img/rsym2.png); background-position: 0px 8px;">
                        <h3>ЮК МЕРКУШЕВЪ<br> и партнёры</h3>
                        <p><a href="http://Помощьсбанком.рф" target="_blank">Помощьсбанком.рф</a></p>
                    </div>
                    <div class="result-content brif">
                        <h4>Длительность проекта:</h4>
                        <p>1,5 месяца</p>
                        <br/>
                        <h4>Задача:</h4>
                        <p>Найти заинтересованную в юридической помощи аудиторию и привлечь её на сайт.</p>
                    </div>
                    <div class="result-content final">
                        <h4>Решение:</h4>
                        <p> •   Настроили систему аналитики<br>
    •   Запустили контекстную рекламу<br>
    •   Запустили рекламу на VK.COM И FB.COM<br>
    •   Настроили ретаргетинг</p>
                    </div>
                </div>
                <div class="info-wrap">
                    <div class="result-info">
                        <h3>заявок в месяц</h3>
                        <div class="orders">                            
                            <div class="old-orders case2">0</div>
                            <div class="new-orders case2">0</div>                        
                            <div class="animated-circle">                              
                            </div>
                        </div>
                        <div class="was">БЫЛО</div>
                        <div class="become">СТАЛО</div>
                    </div>
                    <div class="result-info">
                        <h3>цена привлеченного клиента</h3>
                        <div class="prices">
                            <div class="old-price case2">∞</div>
                            
                            <div class="animated-figures">
                                <div class="new-price case2">0</div>
                                <div class="filled-figure"></div>
                            </div>
                        </div>  
                        <div class="was">БЫЛО</div>
                        <div class="become">СТАЛО</div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="results-wrap">
                    <div class="result-content sign" style="background-image: url(img/rsym3.png);">
                        <h3>Краснодеревщик</h3>
                        <p><a href="http://Краснодеревщик-екатеринбург.рф" target="_blank">Краснодеревщик-екатеринбург.рф</a></p>
                    </div>
                    <div class="result-content brif">
                        <h4>Длительность проекта:</h4>
                        <p>4 месяца</p>
                        <br/>
                        <h4>Задача:</h4>
                        <p>Привлечь заявки на покупку межкомнатных дверей.</p>
                    </div>
                    <div class="result-content final">
                        <h4>Решение:</h4>
                        <p> •   Создали посадочную страницу<br>
    •   Настроили систему аналитики<br>
    •   Запустили контекстную рекламу<br>
    •   Запустили рекламу на VK.COM И FB.COM<br>
    •   Настроили ретаргетинг<br>
    •   Подключили и настроили CRM-систему<br>
    •   Организовали E-mail рассылку по потенциальным и новым клиентам<br>
    •   Создали и подключили callback-систему</p>
                    </div>
                </div>
                <div class="info-wrap case3">
                    <div class="result-info">
                        <h3>заявок в месяц</h3>
                        <div class="orders">                            
                            <div class="old-orders case3">0</div>
                            <div class="new-orders case3">0</div>                        
                            <div class="animated-circle">                              
                            </div>
                        </div>
                        <div class="was">БЫЛО</div>
                        <div class="become">СТАЛО</div>
                    </div>
                    <div class="result-info">
                        <h3>цена привлеченного клиента</h3>
                        <div class="prices">
                            <div class="old-price case3">∞</div>
                            
                            <div class="animated-figures">
                                <div class="new-price case3">0</div>
                                <div class="filled-figure"></div>
                            </div>
                        </div>  
                        <div class="was">БЫЛО</div>
                        <div class="become">СТАЛО</div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="results-wrap">
                    <div class="result-content sign" style="background-image: url(img/rsym5.png); background-position: 0px 4px;">
                        <h3>Трэйд-сервис</h3>
                        <p><a href="http://Trade-srv.ru" target="_blank">Trade-srv.ru</a></p>
                    </div>
                    <div class="result-content brif">
                        <h4>Длительность проекта:</h4>
                        <p>6 месяцев</p>
                        <br/>
                        <h4>Задача:</h4>
                        <p>Привлечь клиентов на оптовую покупку детской мебели из Свердловской области и ближайших регионов.</p>
                    </div>
                    <div class="result-content final">
                        <h4>Решение:</h4>
                        <p> •   Создали посадочную страницу<br>
    •   Настроили систему аналитики<br>
    •   Запустили контекстную рекламу<br>
    •   Настроили ретаргетинг</p>
                    </div>
                </div>
                <div class="info-wrap">
                    <div class="result-info">
                        <h3>заявок в месяц</h3>
                        <div class="orders">                            
                            <div class="old-orders case4">0</div>
                            <div class="new-orders case4">0</div>                        
                            <div class="animated-circle">                              
                            </div>
                        </div>
                        <div class="was">БЫЛО</div>
                        <div class="become">СТАЛО</div>
                    </div>
                    <div class="result-info">
                        <h3>цена привлеченного клиента</h3>
                        <div class="prices">
                            <div class="old-price case4">∞</div>
                            
                            <div class="animated-figures">
                                <div class="new-price case4">0</div>
                                <div class="filled-figure"></div>
                            </div>
                        </div>  
                        <div class="was">БЫЛО</div>
                        <div class="become">СТАЛО</div>
                    </div>
                </div>
            </div>
            <a class="left-arrow"></a>
            <a class="right-arrow"></a>
        </div>        
    </div>
    <div id="rules" class="rules">        
        <div class="container">
            <h2>11 важнейших правил прибыльной рекламной кампании</h2>
            <h3>Соблюдая их вы окупите вложения минимум в 64 раза</h3>             
            <div class="point pos1">
                <h3>установка метрики
                    на сайт</h3>
                <div class="round-point"></div>
                <div class="hidden">
                    Без аналитики много не заработаешь.(с)<br>
Очень важно понимать, откуда приходят деньги и куда лучше вкладывать рекламный бюджет, на начальном этапе с этой задачей прекрасно справится Яндекс.Метрика.
                </div>
            </div>
            <div class="point pos2">
                <h3>Раздельные
                    кампании</h3>
                <div class="round-point"></div>
                <div class="hidden">
                    Всегда разделяйте рекламные кампании по разным ЦА, географии, качеству траффика, это поможет выявлять самые горячие аудитории и существенно сэкономить, давая рекламу тем, кто хочет купить уже сейчас.
                </div>
            </div>
            <div class="point pos3">
                <h3>ключевой<br/>
                    запрос</h3>
                <div class="round-point"></div>
                <div class="hidden">
                    Особенно важно при работе с контекстом делать акцент на подборе «транзакционных» и «прайсовых» запросов, избавляясь при этом от мусорных, вроде «…Бесплатно», «…Своими руками» и т.п.
                </div>
            </div>
            <div class="point pos4">
                <h3>Текст<br>
                    объявления</h3>
                <div class="round-point"></div>
                <div class="hidden">
                    Занимаясь написанием текстов объявлений используйте одну из технологий: 4U или ODC, так же цена, обозначенная в тексте объявления увеличивает качество заявок и приводит согласную с вашим прайсом аудиторию.
                </div>
            </div>
            <div class="point pos5">                
                <h3>релевантный
                    запрос</h3>
                <div class="round-point"></div>
                <div class="hidden">
                    На первоначальном этапе подбирайте наиболее подходящие под ваш продукт запросы и текста объявлений, если показать человеку то, что он хочет, он с бОльшим процентом вероятности купит у вас.
                </div>
            </div>
            <div class="point pos6">                
                <h3>минус-слова</h3>
                <div class="round-point"></div>
                <div class="hidden">
                    Подбирайте для каждой рекламной кампании свой список минус-слов, при хорошей отминусовке вы сможете показывать кампанию по незакавыченным запросам, привлекая больше целевого трафика.
                </div>
            </div>
            <div class="point pos7">                
                <h3>UTM-метки</h3>
                <div class="round-point"></div>
                <div class="hidden">
                    Помогут понять, откуда пришла заявка или звонок, необходимый и очень простой инструмент, помогающий в аналитике. 
                </div>
            </div>
            <div class="point pos8">                
                <h3>Изображения</h3>
                <div class="round-point"></div>
                <div class="hidden">
                    В тизерной рекламе и в объявлениях рекламных сетей поисковиков всегда загружайте изображения, кстати, тестируйте сразу несколько вариантов, помимо очевидного изображения товара или услуги.
                </div>
            </div>
            <div class="point pos9">               
                <h3>группы<br>
                    объявлений</h3>
                <div class="round-point"></div>
                <div class="hidden">
                    Всегда разбивайте объявления на группы по различным признакам (вид продукта, формат изображения и пр.) Это поможет лучше понять реакцию целевой аудитории.
                </div>
            </div>
            <div class="point pos10">                
                <h3>аналитика</h3>
                <div class="round-point"></div>
                <div class="hidden">
                    Самый важный и необходимый процесс интернет маркетинга, включающий в себя массу точек контроля и анализа. Рекомендуем вам выбрать 2-3 ключевых показателя в каждом этапе воронки продаж и регулярно отслеживать их динамику.
                </div>
            </div>
            <div class="point pos11">                
                <h3>Быстрые
                    ссылки</h3>
                <div class="round-point"></div>
                <div class="hidden">
                    Быстрые ссылки важны в контекстной рекламе, они помогают расширить объявление и тем самым повысить кликабельность. В тексте ссылок можно использовать дополнительное УТП или же заголовки релевантные запросу пользователя текста.
                </div>
            </div>
        </div>
        <div class="break"></div>
    </div>
    <div id="clients" class="partners">
        <div class="container">
            <h2>некоторые ниши, с которыми мы работали</h2>
            <div class="switchers-wrap">                    
                <div class="column one">
                    <div class="switcher tab5 active">Услуги</div>
                    <div class="switcher tab2">товары</div>
                    <div class="switcher tab3">логистика</div>
                </div>
                <div class="column two">
                    <div class="switcher tab4">оптовая продажа</div>
                    <div class="switcher tab1">промышленность</div>
                    <div class="switcher tab6">сервис</div>
                </div>
                <div class="column three">
                    <div class="switcher tab7">недвижимость</div>
                    <div class="switcher tab8">тренинги</div>
                    <div class="switcher tab9">дом и офис</div>
                </div>
                <div class="column four">
                    <div class="switcher tab10">юриспруденция</div>
                    <div class="switcher tab11">одежда</div>
                </div>                                                                       
            </div>
            <div class="brands-wrap">
                <div class="brands tab1">
                    <div class="brands-block">
                        <img src="img/4.jpg">
                        <img src="img/11.jpg">
                        <img src="img/14.jpg">
                    </div>
                </div>
                <div class="brands tab2">
                    <div class="brands-block br1">
                        <img src="img/4.jpg">
                        <img src="img/5.jpg">
                        <img src="img/8.jpg">                        
                    </div>
                    <div class="brands-block br2">
                        <img src="img/9.jpg">
                        <img src="img/13.jpg">
                        <img src="img/15.jpg">
                        <img src="img/16.jpg">
                    </div>
                </div> 
                <div class="brands tab3">
                    <img src="img/3r.jpg">
                </div>
                <div class="brands tab4">
                    <div class="brands-block br1">
                        <img src="img/8.jpg">
                        <img src="img/13.jpg">
                    </div>
                </div>
                <div class="brands tab5 active">
                    <div class="brands-block br1">
                        <img src="img/1br.jpg">
                        <img src="img/2k.jpg">
                        <img src="img/3r.jpg">
                        <img src="img/6.jpg">
                    </div>
                    <div class="brands-block br2">
                        <img src="img/7.jpg">
                        <img src="img/10.jpg">
                        <img src="img/12.jpg">                        
                    </div>
                    <div class="brands-block br3">
                        <img src="img/14.jpg">
                        <img src="img/17.jpg">
                        <img src="img/18.jpg">
                    </div>                    
                </div>
                <div class="brands tab6">
                    <div class="brands-block br1">
                        <img src="img/2k.jpg">
                        <img src="img/12.jpg">
                    </div>
                </div>
                <div class="brands tab7">
                    <div class="brands-block">
                        <img src="img/7.jpg">
                        <img src="img/12.jpg">
                        <img src="img/11.jpg">
                    </div>
                </div>
                <div class="brands tab8">
                    <div class="brands-block br1">
                        <img src="img/1br.jpg">
                        <img src="img/18.jpg">
                    </div>
                </div>
                <div class="brands tab9">
                    <div class="brands-block br1">
                        <img src="img/5.jpg">
                        <img src="img/8.jpg">
                        <img src="img/11.jpg">                        
                    </div>
                    <div class="brands-block br2">
                        <img src="img/12.jpg">
                        <img src="img/15.jpg">
                    </div>
                </div>
                <div class="brands tab10">
                    <div class="brands-block">
                        <img src="img/17.jpg">
                        <img src="img/12.jpg">
                    </div>
                </div>
                <div class="brands tab11">
                    <div class="brands-block">
                        <img src="img/9.jpg">
                        <img src="img/15.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="questions" class="questions">
        <div class="container">
            <h2>нас часто спрашивают...</h2>
            <div class="question qst1">
                Сколько стоят<br>
                ваши услуги?
                <div class="inner-window">
                    Стоимость услуг точно можно оценить только после составления и утверждения плана продвижения Вашего бизнеса, Однако стандартный пакет настройка Директ+ADwords+создание посадочной страницы обойдётся вам примерно в 50 000 рублей.
                </div>
            </div>
            <div class="question qst2">
                Чем вы принципиально<br>
                отличаетесь от конкурентов?
                <div class="inner-window">
                    •   Больше 70 реализованных проектов<br>
                    •   67 проектов реализовано удачно и прибыльно<br>
                    •   Мы любим маркетинг, это дело жизни<br>
                    •   Мы делаем всё в открытую, у вас будут доступы ко всем метрикам вашего проекта в режиме онлайн<br>
                    •   Ценность для Вас значительно меньше цены, которую вы платите.<br>
                    •   Миссия нашей компании: Дать возможность коммерческим организациям и предпринимателям России иметь в своём активе действенный инструмент развития продаж и бизнеса за приемлемую стоимость.
                </div>
            </div>
            <div class="question qst3">
                Входит ли в цену настройки<br>
                ведение кампании?
                <div class="inner-window">
                    Да, при заказе настройки рекламной кампании производится её бесплатное обслуживание в течение 14 дней. Дальнейшее обслуживание производится на платной основе.
                </div>
            </div>
            <div class="question qst4">
                Вы соблюдаете сроки?
                <div class="inner-window">
                    Да, сроки для нас- святое! В стандартном договоре прописаны штрафные санкции при срыве сроков с нашей стороны.
                </div>
            </div>
            <div class="question qst5">
                У меня уже есть рекламная<br>
                кампания, но она не эффективна.<br>
                Чем вы можете мне помочь?
                <div class="inner-window">
                    Мы можем «допилить» вашу рекламную кампанию, но, как показывает практика быстрее и эффективнее сделать с нуля.
                </div>
            </div>
        </div>
    </div>
    <div id="process" class="working-steps">
        <div class="container">
            <h2>Как строится процесс работы</h2>
            <div class="steps-wrap">
                <div class="step step1">
                    <div class="step-img step1"></div>
                    <h3>Вы заполняете бриф</h3>
                    <p>Бриф состоит из 12 вопросов, необходимых для детальной проработки и анализа ваней ниши.</p>
                </div>
                <div class="step step2">
                    <div class="step-img step2"></div>
                    <h3>Мы собираем для вас<br/>
                        ключевые слова</h3>
                    <p>Мы собираем ключевые слова и делим их на группы, в зависимости от частотности и релевантности вашим товарам или услугам. Утверждаем окончательный список ключевых слов, по которым будем вас рекламировать.</p>
                </div>
                <div class="step step3">
                    <div class="step-img step3"></div>
                    <h3>пишем объявления под каждое<br/>
                        ключевое слово</h3>
                    <p>Пишем уникальные, релевант-
                        ные запросам заголовки и
                        текст объявлений.  </p>
                </div>
                <div class="step step4">
                    <div class="step-img step4"></div>
                    <h3>Запускаем кампа-<br/>
                        нию, анализируем 
                        и улучшаем</h3>
                    <p>На этом этапе мы выделяем 
                        эффективные и неэффективные 
                        ключевые запросы, меняем
                        стратегию и элементы кампании при необходимости.</p>
                </div>
            </div>
            <a href="#offer" class="blue-btn" ng-click="yaCounter31180491.reachGoal('middle-button');">Получить коммерческое предложение</a>
        </div>
    </div>
    <div id="useful" class="useful">
        <div class="container">
            <h2>Чем еще мы можем быть вам полезны?</h2>
            <div class="service-block">
                <h3>Настройка Smm на vk.com</h3>
                <ol>
                    <li>Определим несколько целевых аудиторий для вашего бизнеса.</li>
                    <li>Соберем списки пользователей под каждую ЦА.</li>
                    <li>Покажем им узкосегментированную рекламу.</li>
                </ol>                
            </div>
            <div class="service-block">
                <h3>Создание Landing Page</h3>
                <ol>
                    <li>"Упакуем" ваше предложение. </li>
                    <li>Создадим посадочную страницу, максимально интересную для Вашей ЦА</li>                    
                </ol>
            </div>
            <div class="service-block">
                <h3>Аудит рекламной площадки</h3>
                <ol>
                    <li>Проведём анализ текущей ситуации на основании данных систем аналитики</li>
                    <li>Дадим рекомендации по увеличению конверсии площадки</li>                    
                </ol>
            </div>
            <div class="service-block">
                <h3>Настройка кроссретаргетинга</h3>
                <p>Ни один посетитель вашего сайта не уйдёт с пустыми руками, покажем рекламу на VK.COM посетителям вашего сайта, пришедшим с других ресурсов</p>
            </div>
        </div>
    </div>
    <div  id="offer" class="offer">
        <div class="container">
            <h2>Получите коммерческое предложение<br/>
                для вашей компании</h2>
            <div class="form-wrap thanks">
                <img src="img/logo-black.png" alt="logo"/>
                <h3>спасибо, мы свяжемся с вами в ближайшее время<br> и вышлем коммерческое предложение</h3>
            </div>
            <div class="form-wrap form">
                <div class="left-col">
                    <h3>Что вы получите:</h3>
                    <ol>
                        <li>РАСЧЕТ СМЕТЫ НА РАЗРАБОТКУ<br/>
                            В 4-Х ВАРИАНТАХ</li>
                        <li>СРОКИ РАЗРАБОТКИ</li>
                        <li>ПОДБОРКА РАБОТ ИЗ НАШЕГО<br/>
                            ПОРТФОЛИО БЛИЗКИХ К ВАШЕЙ<br/>
                            СФЕРЕ БИЗНЕСА</li>
                        <li>ПРОГНОЗ РЕЗУЛЬТАТОВ<br/>
                            ПО КОЛИЧЕСТВУ ЗАЯВОК</li>
                    </ol>
                </div>
                <div class="right-col">
                    <form>
                        <div id="name-group" class="form-group">
                            <label for="username"></label>
                            <input type="text" id="username" name="username" placeholder="Как вас зовут">
                        </div>
                        <div id="phone-group" class="form-group">
                            <label for="userphone"></label>
                            <input type="text" id="userphone" name="userphone" placeholder="Телефон">
                        </div>     
                        <div id="business-group" class="form-group">
                            <label for="userbusiness"></label>
                            <input type="text" id="userbusiness" name="userbusiness" placeholder="Сфера бизнеса">
                        </div>
                        <div id="email-group" class="form-group">
                            <label for="useremail"></label>
                            <input type="text" id="useremail" name="useremail" placeholder="E-mail">
                        </div>                        
                        <input type="submit" id="form_button" value="ПОЛУЧИТЬ" ng-click="yaCounter31180491.reachGoal('ground-button');">
                    </form>
                    <div style="font-size: 10px;margin-top: -15px;">
                        <span style="font-size: 10px; cursor: pointer;" id="openPolitics">Политика конфиденциальности</span>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="logo">
                <img src="img/logo.png">
            </div>
            <div class="company-data">
                <ul>
                    <li>ООО «Планета»    ОГРН 1126671018484</li>
                    <li>ОКПО 16765472    ИНН/КПП 6671405239 / 667101001</li>
                </ul>
            </div>
            <div class="contacts">
                <ul>
                    <li><a href="skype:webstermg.ru?call"><img src="img/skype.png" alt="skype" width="16" height="16" style="margin-bottom: -2px;margin-right: 5px;"/>webstermg.ru</a></li>
                    <li><a href="tel: +79193919170"><img src="img/whatsapp.png" alt="whatsapp" width="16" height="16" style="margin-bottom: -3px;margin-right: 4px;"/>+7 (919) 391-91-70</a></li>
                    <li>webster@webstermg.ru</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="popup" id="showPolitics">
        <div class="block politics-popup">
          Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Российской Федерации.
          <br><br>
          Все лица заполнившие сведения, составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу оператору обработки персональных данных.
          <br><br>
          Под персональными данными Гражданина понимается нижеуказанная информация:
          <br><br>
          общая информация (Имя и адрес электронной почты, телефон); посетители сайта направляют свои персональные данные для получения доступа к бесплатным видеоматериалам и/или платным услугам в сфере образовательных услуг и тренинговой деятельности
          <br><br>
          Гражданин, принимая настоящее Соглашение, выражают свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, уничтожение.
          <br><br>
          Гражданин гарантирует: информация, им предоставленная, является полной, точной и достоверной; при предоставлении информации не нарушается действующее законодательство Российской Федерации, законные права и интересы третьих лиц; вся предоставленная информация заполнена Гражданина в отношении себя лично.
          <br><br>
          ООО "Планета"<br><br>
ОГРН 1126671018484<br>
ОКПО 16765472<br>
ИНН/КПП 6671405239 / 667101001<br>
Юридический адрес<br>
Почтовый адрес: 620014, Свердловская область, г.Екатеринбург, ул.Радищева, дом 6а, оф.603 620026, г.Екатеринбург, ул.Декабристов<br>16/18 «Б» а/я 197
        </div>
        <div class="closer"></div>
    </div>
    <!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter31180491 = new Ya.Metrika({id:31180491,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/31180491" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script type="text/javascript" src="http://2calls.ru/files/widgets/3331-8a125576d9c3fcc382-cc382-fcc382-382-25576d9c3fcc38.js" charset="UTF-8"></script>
</body>
</html>
